#contenedorRegistro{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: purple;
    background-image: url('../asset/img/Banners/banner2.jpg');
}

.forularioRegistro{
    width: 40%;
    padding-top: 12vh;
    padding-bottom: 12vh;
    display: flex;
    flex-flow: column;
    align-self: center;
    background-color: rgba(255,255,255,0.75);
}

.textNombre{
    width: 70%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0);
    border:0px solid black;
    border-bottom: 3px solid rgba(0,118,128,1);
    align-self: center;
    color: rgba(0,118,128,1);
    font-size: 25px;
}

#areTexto1{
    height: 70px;
}

.inputButton{
    width: 35%;
    height: 50px;
    border: 2px solid rgba(0,118,128,1);
    background-color: rgba(0,118,128,0);
    color: rgba(0,118,128,1);
    align-self: center;
    font-size: 20px;
}

.inputButton:hover{
    background-color: rgba(0,118,128,1);
    color: rgba(255,255,255,1);
}