#bannerIndex1{
    background-image: url('../asset/img/Banners/banner1.jpg');
}

#tituloBanner1{
    font-size: 70px;
    margin-top: 100px;
}

#bannerIndex2{
    background-image: url('../asset/img/Banners/banner2.jpg');
}

#logoBee{
    width: 650px;
}