.contenedor{
    width: 100%;
    height: 100%;
}


.banner1{
    width: 100%;
    height: 100vh;
    background-color: crimson;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contTexto{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    padding-top: 15vh;
}

.titulosBanner{
    font-size: 75px;
    color: rgb(0,118,128);
}

.cuerpoTexto{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    width: 90%;
    margin-left: 7vw;
}

.botonera{
    width: 30%;
    height: 40px;
    display: flex;
    flex-flow: row;
    align-self: center;
    flex-grow: inherit;
}

.itemBotones{
    width: 20%;
    height: 80px;
    background-color: rgb(200,98,2);
    margin-left: 15px;
    text-align: center;
}

.itemBotones:hover{
    background-color: rgb(0,118,128);
}

.linksMenu{
    text-decoration: none;
    color: rgba(255,255,255,1);
    font-family: 'Montserrat', sans-serif;
}

.loginDic{
    text-decoration: none;
    color: rgba(255,255,255,1);
}

.loginDic:hover{
    text-decoration: none;
    color: rgba(255,255,255,1);
}

#navega1{
    background-color: rgb(0,118,128)!important;
}